@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Quicksand;
    background-color: #141e30;
}

a {
    text-decoration: none;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
    color: rgb(255, 236, 236);
}

.navbar li {
    list-style: none;
}

.navbar h1 a {
    color: rgb(255, 236, 236);
}

.navbar h1 a:hover {
    color: #fff;
    transition: 0.3s ease;
}

.nav-links {
    margin-top: auto;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 34px;
}

.menu {
    display: flex;
    font-size: 16px;
}

.menu li:hover {
    color: #fff;
    background-color: #638585;
    border-radius: 5px;
    transition: 0.3s ease;
}

#username {
    margin-top: auto;
    font-size: 12px;
    color: #fff;
    cursor: default;
}

#username b {
    font-size: 16px;
}

/* FORM */
.container-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.container-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.container-box .form-box {
    position: relative;
}

.container-box .form-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.container-box .form-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.container-box .form-box input:focus ~ label,
.container-box .form-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #638585;
    font-size: 12px;
}

#submit-btn {
    color: #fff;
    background-color: #638585;
    border-color: #638585;
    transition: 0.3s ease;
}

#submit-btn:hover {
    background-color: #85a0a1;
    border-color: #85a0a1;
    transition: 0.3s ease;
}

.reg {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 5px;
    margin-bottom: -5px;
}

.reg a {
    color: #638585;
    text-decoration: none;
    transition: 0.3s ease;
}

.reg a:hover {
    color: #85a0a1;
    text-decoration: none;
    transition: 0.3s ease;
}

.msg {
    color: rgba(255, 255, 255, 0.8);
}

#create-box {
    margin-top: 35px;
    width: 700px;
}

#reg-box {
    margin-top: 30px;
}

.category-drop select {
    padding: 8px;
    color: #fff;
    background-color: transparent;
    border: #638585 solid 1px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.category-drop select:hover {
    color: #638585;
    transition: 0.3s ease;
}

.cat-btn {
    margin-bottom: -27px;
}

/* INDEX PAGE */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.active {
    color: #fff;
    margin-left: 55px;
    letter-spacing: .5px;
}

.chose-cat {
    padding: 5px !important;
    margin-right: 10px;
    margin-top: 1px;
}

.fltr-btn {
    padding-block: 3px;
    margin-bottom: 2.6px;
}

.category-from {
    margin-right: 55px;
}

/* CARDS */
.prods {
    margin-bottom: 80px;
}

.card-row {
    margin-top: 50px;
    margin-inline: 100px;
}

.prod-card {
    width: 100%;
}

.prod-card .wrapper {
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.prod-card .data {
    float: right;
    width: 80%;
    height: 100%;
}

.prod-card .data .content {
    padding: 1.5em;
    position: relative;
    z-index: 1;
}

.prod-card .author {
    color: aquamarine;
    font-size: 12px;
}

.prod-card .title {
    font-size: 26px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.prod-card .title a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
}

.prod-card .title a:hover {
    color: #788a83;
    transition: 0.3s ease;
}

.prod-card .desc {
    height: 70px;
    margin-top: 7px !important;
    margin: 0;
    color: rgba(255, 255, 255, 0.65);
}

.image {
    float: left;
    max-width: 20%;
    overflow: hidden;
}

.prod-image {
    display: block;
    max-width: 100%;
    max-height: 20%;
    aspect-ratio: 6/4;
    object-fit: contain;
    margin-top: auto;
    margin-bottom: auto;
}

.prod-card .price-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #606865;
    color: #fff;
    padding: 0.8em;
    border-bottom-right-radius: 10px;
}

.prod-card .price-wrapper span {
    text-align: center;
}

.prod-card .price-wrapper .price {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18);
}

/* LISTING PAGE */
.container-fluid {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.cart {
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    padding: 50px;
    border-radius: 20px;
    margin: 30px 40px;
    padding-bottom: 20px;
    width: 1240px;
    min-width: 1240px;
    max-width: 1240px;
}

.cart-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#prod-desc {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 17px;
}

#product-img {
    position: absolute;
    width: 520px;
    max-height: 360px;
    margin-top: -180px;
}

#prod-price {
    margin-top: 15px;
    margin-bottom: 12px;
}

#prod-price span {
    color: #81b3b4;
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
}

#product-title {
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
}

.details {
    margin-top: 20px;
    margin-bottom: 32px;
}

.details ul li {
    list-style: none;
    color: rgba(238, 238, 238, 0.637);
    font-size: 15.5px;
    letter-spacing: .3px;
}

.details ul li span {
    color: #7ba3a3;
    font-weight: 450;
    font-style: italic;
    margin-left: 2px;
}

.prod-buttons .row {
    margin-bottom: 20px;
}

.prod-buttons .row .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#end-act {
    color: #fff;
    border-color: #a85b5b;
    transition: 0.3s ease;
}

#end-act:hover {
    background-color: #a85b5b;
    transition: 0.3s ease;
}

#add-wl {
    color: #fff;
    border-color: #a4c468;
    transition: 0.3s ease;
}

#add-wl:hover {
    background-color: #a4c468;
    transition: 0.3s ease;
}

#rm-wl {
    color: #fff;
    border-color: #ecce6c;
    transition: 0.3s ease;
}

#rm-wl:hover {
    background-color: #ecce6c;
    transition: 0.3s ease;
}

#add-bid {
    color: #fff;
    border-color: #386e9b;
    transition: 0.3s ease;
}

#add-bid:hover {
    background-color: #386e9b;
    transition: 0.3s ease;
}

#add-cmt {
    color: #fff;
    border-color: #638585;
    transition: 0.3s ease;
}

#add-cmt:hover {
    background-color: #638585;
    transition: 0.3s ease;
}

.addbid form div input {
    width: 233px;
    height: 36px;
    color: #638585;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    margin-right: 15px;
    outline: none;
}

.comments {
    margin-top: 85px;
}

.comments span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
}

.comments form {
    margin-top: 25px;
}

.comments form div label {
    color: #638585;
    margin-bottom: 20px;
}

.comments form div textarea {
    width: 1000px;
    height: 150px;
    color: #649b9b;
    font-weight: 500;
    border-radius: 5px;
    background-color: transparent;
    border-top: rgba(255, 255, 255, 0.6) solid 2px;
    border-bottom: rgba(255, 255, 255, 0.6) solid 2px;
    border-left: transparent;
    border-right: transparent;
    outline: none;
    margin-bottom: 20px;
}

.comments ul li {
    background-color: transparent;
    border: transparent;
    padding: 0;
}

.comments ul li p b {
    font-weight: 500;
    color: #638585ce;
}

.comments ul li p {
    word-break: break-all;
    color: #ffffffc2;
}

.comments ul li p:first-child {
    font-weight: 600;
}

#succ-alert {
    color: #fff;
    background-color: #49cc959d;
    border-color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

#fail-alert {
    color: #fff;
    background-color: #cc494993;
    border-color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

#won-alert {
    color: #fff;
    background-color: #49ccccc7;
    border-color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .1);
}

#mt-list {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #649b9b;
    font-size: 40px;
}