{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'encyclopedia/styles.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300&display=swap">
</head>
<body>
    <div class="row">
        <div class="sidebar col-lg-2 col-md-3">
            <h2 style="font-family: 'Great Vibes', cursive; text-align: center; font-size: 42px;">
                <b><a href="/" style="text-decoration: none; color:#000;">Encyclopedia</a></b>
            </h2>
            <br>

            <form action={%url 'search'%} method="POST">
                {%csrf_token%}
                <input class="search" type="text" name="q" placeholder="Search Encyclopedia...">
            </form>

            <br>
            <div style="padding-bottom: 5px;">
                <a href="{%url 'index'%}">Home</a>
            </div>
            <div style="padding-bottom: 5px;">
                <a href="{%url 'new'%}">Create New Page</a>
            </div>
            <div>
                <a href="{%url 'random'%}">Random Page</a>
            </div>
            {% block nav %}
            {% endblock %}
        </div>
        <div class="main col-lg-10 col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>