{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-box" id="create-box">
    <h2>Create New Listings</h2>

    <form action="{%url 'create'%}" method="POST" class="create-form my-4">
        {%csrf_token%}
        <div class="form-box">
            <input required type="text" name="title">
            <label for="title">Title</label>
        </div>

        <div class="form-box">
            <input required type="text" name="desc">
            <label for="desc">Description</label>
        </div>

        <div class="form-box">
            <input required type="text" name="img">
            <label for="img">Image URL</label>
        </div>

        <div class="form-box">
            <input required type="number" min="0" name="price">
            <label for="price">Price</label>
        </div>

        <div class="category-drop">
            <select required name="category">
                <option value="" disabled selected>Category</option>
                {%for cat in cats%}
                <option value="{{cat}}">{{cat}}</option>
                {%endfor%}
            </select>
            <hr>
        </div>

        <button type="submit" class="btn btn-primary cat-btn" id="submit-btn">Create New Listing</button>
    </form>
</div>
{% endblock %}