{% extends "auctions/layout.html" %}

{% block body %}
<div class="header">
    <h2 class="active">Active Listings :</h2>

    <form action="{%url 'category'%}" method="POST" class="category-from">
        {%csrf_token%}
        <div class="category-drop">
            <select name="category" class="chose-cat">
                <option value="" disabled selected>Category</option>
                {%for cat in cats%}
                <option value="{{cat}}">{{cat}}</option>
                {%endfor%}
            </select>
            <button type="submit" class="btn fltr-btn" id="submit-btn">Filter</button>
        </div>
    </form>
</div>

<div class="prods">
    {%for listing in listings%}
    <div class="card-row">
        <div class="prod-card">
            <div class="wrapper">

                <div class="price-wrapper">
                    <span class="price"><sup>$</sup>{{listing.price.bid}}</span>
                </div>

                <div class="image">
                    <a href="{%url 'listing' id=listing.id%}">
                        <img class="prod-image" src="{{listing.img}}" alt="{{listing.title}}">
                    </a>
                </div>

                <div class="data">
                    <div class="content">
                        <span class="author">{{listing.owner}}</span>

                        <div class="title">
                            <a href="{%url 'listing' id=listing.id%}" class="cardTitle">{{listing.title}}</a>
                        </div>

                        <p class="desc">{{listing.desc}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}