{% extends "auctions/layout.html" %}

{% block body %}
{%if message%}
<div class="container">
    {%if updated%}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {%else%}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {%endif%}
</div>
{%endif%}

{%if not listing.isActive and user == listing.price.user%}
<div class="container">
    <div class="alert alert-success" role="alert">
        Congrats! You Won The Auction.
    </div>
</div>
{%endif%}

<div class="container-fluid">
    <div class="cart">
        <div class="row cart-row">

            <div class="col-md-4">
                <img src="{{listing.img}}" alt="{{listing.title}}" width="450px" id="product-img">
            </div>

            <div class="col-md-6">
                <h2 id="product-title">{{listing.title}}</h2>

                <div id="prod-price">
                    <span><sup>$</sup>{{listing.price.bid}}</span>
                </div>
                <p id="prod-desc">{{listing.desc}}</p>

                <div class="details">
                    <ul>
                        <li>Listed By: <span>{{listing.owner}}</span></li>
                        <li>Category: <span>{{listing.category}}</span></li>
                    </ul>
                </div>

                <div class="prod-buttons">
                    <div class="row">
                        {%if user.is_authenticated and listing.isActive%}
                        {%if isInWatchlist%}
                        <form action="{%url 'removeFromWatchlist' id=listing.id%}" method="POST" class="mx-3">
                            {%csrf_token%}
                            <button type="submit" class="btn" id="rm-wl">Remove from
                                Watchlist</button>
                        </form>
                        {%else%}
                        <form action="{%url 'addToWatchlist' id=listing.id%}" method="POST" class="mx-3">
                            {%csrf_token%}
                            <button type="submit" class="btn" id="add-wl">Add to Watchlist</button>
                        </form>
                        {%endif%}
                        {%if isOwner%}
                        <form action="{%url 'endAuction' id=listing.id%}" method="POST" class="mx-3">
                            {%csrf_token%}
                            <button type="submit" class="btn" id="end-act">End Auction</button>
                        </form>
                        {%endif%}
                        {%endif%}
                    </div>

                    {%if user.is_authenticated%}
                    <br>
                    <div class="addbid">
                        <form action="{%url 'addBid' id=listing.id%}" method="POST">
                            {%csrf_token%}
                            <div class="form-group">
                                <input type="number" min="0" name="newBid" placeholder="Add a Bid">
                                <button type="submit" class="btn" id="add-bid">Add</button>
                            </div>
                        </form>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>

        <div class="comments">
            <span>Comments</span>
            {%if user.is_authenticated%}
            <form action="{%url 'addComment' id=listing.id%}" method="POST">
                {%csrf_token%}
                <div class="form-group">
                    <label for="newComment">Post a Comment :</label>
                    <br>
                    <textarea name="newComment"></textarea>
                    <br>
                    <button type="submit" class="btn" id="add-cmt">Post</button>
                </div>
            </form>
            {%endif%}
            <br>
            <ul class="list-group">
                {%for comment in comments%}
                <li class="list-group-item">
                    <p><b>Author:</b> {{comment.author}}</p>
                    <p><b>Comment:</b> {{comment.comment}}</p>
                    <br>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
{% endblock %}