{% extends "auctions/layout.html" %}

{% block body %}
<div class="header">
    <h2 class="active">Watchlist :</h2>
</div>

<div class="prods">
    {%for listing in listings%}
    <div class="card-row">
        <div class="prod-card">
            <div class="wrapper">

                <div class="price-wrapper">
                    <span class="price"><sup>$</sup>{{listing.price.bid}}</span>
                </div>

                <div class="image">
                    <a href="{%url 'listing' id=listing.id%}">
                        <img class="card-img-top" src="{{listing.img}}" alt="{{listing.title}}">
                    </a>
                </div>

                <div class="data">
                    <div class="content">
                        <span class="author">{{listing.owner}}</span>

                        <div class="title">
                            <a href="{%url 'listing' id=listing.id%}" class="cardTitle">{{listing.title}}</a>
                        </div>

                        <p class="desc">{{listing.desc}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%if not listings%}
    <div id="mt-list">Your watchlist is currently empty.</div>
{%endif%}
{% endblock %}