/* Index and Images Pages Style */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background: #202124;
	height: 100vh;
	width: 100%;
	font-family: "Open Sans", sans-serif;
}

.header {
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header #nav {
	margin-top: 30px;
	margin-right: 30px;
	display: flex;
}

.header #nav a {
	margin-left: 30px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.87);
	text-decoration: none;
}

.header #nav a:hover {
	text-decoration: underline;
}

.container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container #search-bar {
	border: 1px solid rgba(255, 255, 255, 0.2);
	height: 24px;
	border-radius: 24px;
	display: flex;
	align-items: center;
	padding: 10px;
	width: 584px;
	margin-top: 30px;
	margin-bottom: 18px;
	background-color: transparent;
}

@media (max-width: 560px) {
	.container #search-bar {
		width: 300px;
	}
}

.container #search-bar input {
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.836);
}

.container #search-bar i {
	color: #9aa0a6;
	font-weight: 500;
	font-size: 0.875em;
	padding: 7px;
}

.container #search-bar button .fa-search {
	font-size: 14px;
	font-weight: 500;
}

.container #search-bar button {
	background: transparent;
	border: 0;
	cursor: pointer;
	padding: 7px;
}

.container #search-bar button i {
	font-size: 19px;
	font-weight: 50;
}

.container #search-bar:hover {
	background-color: #303134;
	box-shadow: 0 0 15px #0000002f;
	border: 1px solid #303134;
}

.container #search-bar input {
	width: 100%;
	border: none;
	box-shadow: none !important;
	outline: none !important;
	margin-inline: 7px;
	font-size: 16px;
}

.container #search-btn {
	display: flex;
	justify-content: center;
}

.container #search-btn input {
	font-family: arial, sans-serif;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
	background-color: #303134;
	color: #e8eaed;
	border-radius: 4px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	user-select: none;
	border: 1px solid transparent;
}

.container #search-btn input:hover {
	border: 1px solid #5f6368;
}

